html,
body {
  min-width: 1122px;
  min-height: 1750px;
  margin: 0;
  padding: 0;
}

body {
//  background: #000000 url("barbershop-index-grid.jpg") no-repeat 50% 3px;
  background-size: 1122px auto;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
	
/*  display: block;
  clear: both;
  height: 20px;
  background-color: white;
  background-image: linear-gradient(-45deg, white 45%, black 50%, white 55%);
  background-size: 20px;	*/
}

.main-header {
  /* Только для оформления сетки */
//  min-height: 70px;

  margin-bottom: 60px;
}

.container {
  width: 940px;
  padding: 0 10px;
	margin: 0 auto;
  
  /* Только для оформления сетки */
  min-height: 70px;
}

.main-navigation {
	float: left;
  width: 780px;


  /* Только для оформления сетки */
  min-height: 70px;
}

.user-block {
	float: right;
  width: 140px;

  /* Только для оформления сетки */
  min-height: 70px;
}

.index-logo {
  width: 368px;
  height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
}

/* Зададим блоку преимуществ отступ снизу, чтобы оттолкнуть блок «содержания главной страницы». */
.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
	margin-right: 20px;
  
  /* Только для оформления сетки */
  min-height: 175px;
}

.features-item:last-child {
	margin-right: 0;	
} 

.index-content {
  padding: 50px 80px;
  margin-bottom: 35px;
}

.index-content-left {
  float: left;
  width: 380px;

  /* Только для оформления сетки */
  min-height: 330px;
}

.index-content-right {
  float: right;
  width: 300px;

  /* Только для оформления сетки */
  min-height: 330px;
}

.main-footer {
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
}

.footer-contacts {
  width: 320px;
  float: left;
  margin-right: 60px;
  /* Только для оформления сетки */
  min-height: 90px;
}

.footer-social {
  width: 180px;
  float: left;
  /* Только для оформления сетки */
  min-height: 90px;
}

.footer-copyright {
  width: 180px;
  float: right;
  /* Только для оформления сетки */
  min-height: 90px;
}




























